:root {
  --fontBodyMobile: 12px;

  --lhMobile: 1.5;

  --white: #ffffff;
  --black: #000000;
  --charcoal: #1a1a1a;
  --headingMobile: 12px;

  --widthPageMobilePaddingLR: 30px;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: red !important;
    padding: 0 var(--widthPageMobilePaddingLR) 0 var(--widthPageMobilePaddingLR);
    font-size: var(--fontBodyMobile);
  }

  img {
    width: 100%;
  }
}
