@import "/font.css";
@import "/responsive.css";

:root {
  --fontBody: 14px;
  --fontBodyMobile: 12px;

  --lh: 1.5;
  --lhMobile: 1.5;

  --white: #ffffff;
  --black: #000000;
  --charcoal: #1a1a1a;

  --heading: 24px;
  --headingMobile: 12px;

  --widthPage: 1400px;
  --widthPagePaddingLR: 100px;
  --widthPageMobilePaddingLR: 30px;
}

*, *: : before, *: : after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Space Mono", monospace;
  background-color: var(--black);
  line-height: --lh;
  color: var(--white);
  max-width: var(--widthPage);
  padding: 150px var(--widthPagePaddingLR) 0 var(--widthPagePaddingLR);
}

a {
  color: var(--white);
  text-decoration: none;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

header {
  margin-bottom: 150px;
}

section {
  max-width: 1100px;
}

.introduction {
  max-width: 350px;
  margin-bottom: 90px;
}

.img_workspace {
  max-width: 1200px;
  margin-bottom: 90px;
}

.lamp {
  max-width: 630px;
}
.lamp img {
  margin-bottom: 50px;
}

.lamp p {
  background-color: var(--white);
  color: var(--black);
  padding: 15px 25px;
}

.clients {
  /* width: 358px; */
  margin: 90px 0;
}

.clients p {
  max-width: 360px;
}

.chair {
  max-width: 1100px;
}

.chair img {
  margin-bottom: 50px;
}

.chair p {
  background-color: var(--white);
  color: var(--black);
  padding: 15px 25px;
  margin-bottom: 90px;
}

.livingroom {
  max-width: 1200px;
  margin-bottom: 90px;
}

.process {
  margin-bottom: 90px;
  max-width: 1100px;
}
.process h2 {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid white;
}

footer {
  max-width: 1100px;
  background-color: var(--charcoal);
  padding: 20px;
  margin-bottom: 160px;
}

footer p:nth-child(1) {
  margin-bottom: 45px;
}

footer a:hover {
  color: #6a6a6a;
}
