:root {
  --fontBody: 14px;
  --fontBodyMobile: 12px;

  --lh: 1.5;
  --lhMobile: 1.5;

  --white: #ffffff;
  --black: #000000;
  --charcoal: #1a1a1a;

  --heading: 24px;
  --headingMobile: 12px;

  --widthPage: 1400px;
  --widthPagePaddingLR: 100px;
  --widthPageMobilePaddingLR: 30px;
}

@import "/font.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--black);
  color: var(--white);
  max-width: var(--widthPage);
  padding: 0 --widthPagePaddingLR;
}

a {
  color: var(--white);
  text-decoration: none;
}
